<a href="https://colab.research.google.com/github/praveenyadav-code/Python-workshop/blob/master/day3_s2_exp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:

# Program to create series
import pandas as pd
 # Import Panda Library
# Program to Create series with scalar values
Data =[1, 3, 4, 5, 6, 2, 9]
  # Numeric data
# Creating series with default index values 
s = pd.Series(Data)
print(s)
# predefined index values
Index =['a', 'b', 'c', 'd', 'e', 'f', 'g'] # Create series with Data, and Index
a = pd.Series(Data, index = Index) 
a

0    1
1    3
2    4
3    5
4    6
5    2
6    9
dtype: int64

a    1
b    3
c    4
d    5
e    6
f    2
g    9
dtype: int64

In [2]:
#Converting Pandas Series to Python list


import pandas as pd
ds = pd.Series([2, 4, 6, 8, 10])
print("Pandas  Series") 
print(ds)
print("Convert Pandas Series to Python list") 
ds.tolist()

Pandas  Series
0     2
1     4
2     6
3     8
4    10
dtype: int64
Convert Pandas Series to Python list

[2, 4, 6, 8, 10]

In [3]:

#Program to Create Dictionary into Series
dictionary ={'a':1, 'b':2, 'c':3, 'd':4, 'e':5, 'f':6} # Creating series of Dictionary type
sd = pd.Series(dictionary) 
sd

a    1
b    2
c    3
d    4
e    5
f    6
dtype: int64

In [4]:
#Program to Create ndarray series
Data =[[2, 3, 4], [5, 6, 7]] # Defining 2darray print(Data)
# Creating series of 2darray 
snd = pd.Series(Data)
snd

0    [2, 3, 4]
1    [5, 6, 7]
dtype: object

In [5]:
#Program to Create DataFrame
import pandas as pd # Import Library
a = pd.DataFrame(Data)
a

   0  1  2
0  2  3  4
1  5  6  7

In [6]:
#converting multiple dictionaries into pandas data frame
dict1 ={'a':35.2,'b':47,'c':77,'d':49} # Define Dictionary 1
dict2 ={'a':53,'b':69,'c':79,'d':81,'e':91} # Define Dictionary 2
dict3 ={'a':56,'b':98,'c':77,'d':81,'e':90} # Define Dictionary 3
Data = {'Maths':dict1, 'Physics':dict2,'Chemistry': dict3} # Define Data with dict 
df = pd.DataFrame(Data) 
# Create DataFrame
df

   Maths  Physics  Chemistry
a   35.2       53         56
b   47.0       69         98
c   77.0       79         77
d   49.0       81         81
e    NaN       91         90

In [7]:
#Program to create Dataframe of three series
import pandas as pd
s1 = pd.Series([1, 3, 4, 5, 6, 2, 9])# Define series 1
s2 = pd.Series([1.1, 3.5, 4.7, 5.8, 2.9, 9.3]) # Define series 2
s3 = pd.Series(['a', 'b', 'c', 'd', 'e'])# Define series 3 
Data ={'first':s1, 'second':s2, 'third':s3} # Define Data 
dfseries = pd.DataFrame(Data)
# Create DataFrame
dfseries

   first  second third
0      1     1.1     a
1      3     3.5     b
2      4     4.7     c
3      5     5.8     d
4      6     2.9     e
5      2     9.3   NaN
6      9     NaN   NaN

In [8]:
#Program to create DataFrame from 2D array
import pandas as pd # Import Library
d1 =[[2, 3, 4], [5, 6, 7]] # Define 2d array 1
d2 =[[2, 4, 8], [1, 3, 9]] # Define 2d array 2
Data ={'first': d1, 'second': d2} # Define Data 
df2d = pd.DataFrame(Data)
# Create DataFrame 
df2d

       first     second
0  [2, 3, 4]  [2, 4, 8]
1  [5, 6, 7]  [1, 3, 9]

In [9]:

#Converting Pandas Series to Python list
import pandas as pd
ds = pd.Series([2, 4, 6, 8, 10]) 
print("Pandas Series and type") 
print(ds)
print(type(ds))
print("Convert Pandas Series to Python list") 
print(ds.tolist())
print(type(ds.tolist()))

Pandas Series and type
0     2
1     4
2     6
3     8
4    10
dtype: int64
<class 'pandas.core.series.Series'>
Convert Pandas Series to Python list
[2, 4, 6, 8, 10]
<class 'list'>

In [10]:

#Write a Pandas program to add, subtract, multiple and divide two Pandas Series. Sample Series
import pandas as pd
ds1 = pd.Series([2, 4, 6, 8, 10])
ds2 = pd.Series([1, 3, 5, 7, 9]) 
ds = ds1 + ds2
print("Add two Series:") 
print(ds)
print("Subtract two Series:") 
ds = ds1 - ds2
print(ds)
print("Multiply two Series:") 
ds = ds1 * ds2
print(ds)
print("Divide Series1 by Series2:") 
ds = ds1 / ds2
print(ds)

Add two Series:
0     3
1     7
2    11
3    15
4    19
dtype: int64
Subtract two Series:
0    1
1    1
2    1
3    1
4    1
dtype: int64
Multiply two Series:
0     2
1    12
2    30
3    56
4    90
dtype: int64
Divide Series1 by Series2:
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [11]:
#Write a Pandas program to compare the elements of the two Pandas Series. Sample Series: 
import pandas as pd
ds1 = pd.Series([2, 4, 6, 8, 10])
ds2 = pd.Series([1, 3, 5, 7, 10]) 
print("Series1:")
print(ds1) 
print("Series2:") 
print(ds2)
print("Compare the elements of the said Series:") 
print("Equals:")
print(ds1 == ds2) 
print("Greater than:") 
print(ds1 > ds2) 
print("Less than:") 
print(ds1 < ds2)

Series1:
0     2
1     4
2     6
3     8
4    10
dtype: int64
Series2:
0     1
1     3
2     5
3     7
4    10
dtype: int64
Compare the elements of the said Series:
Equals:
0    False
1    False
2    False
3    False
4     True
dtype: bool
Greater than:
0     True
1     True
2     True
3     True
4    False
dtype: bool
Less than:
0    False
1    False
2    False
3    False
4    False
dtype: bool

In [ ]:

#Write a Pandas program to compare (equivalance,less than, greater than) the elements of the two Pandas Series. Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9] and put them all series along with comparisons results into a panda frame
import pandas as pd
ds1 = pd.Series([2, 4, 6, 8, 10])
ds2 = pd.Series([1, 3, 5, 9, 10])
Equals=ds1 == ds2 
Greaterthan = ds1 > ds2 
Lessthan=ds1 < ds2
# converting pandas series into dictionary and then convert into dataframe 
Data={'ds1':ds1,'ds2':ds2,'Equals':Equals,'Greaterthan':Greaterthan,'Lessthan':Les 
df1=pd.DataFrame(Data)
df1

In [13]:
#Write a Pandas program to convert a NumPy array to a Pandas series.Sample NumPy array: d1 = [10, 20, 30, 40, 50]
import numpy as np 
import pandas as pd
np_array = np.array([1, 2, 3, 4, 5]) 
print("NumPy array:") 
print(np_array)
new_series = pd.Series(np_array) 
print("Converted Pandas series:") 
print(new_series)

NumPy array:
[1 2 3 4 5]
Converted Pandas series:
0    1
1    2
2    3
3    4
4    5
dtype: int64

In [14]:
#Numpyt example program
import numpy as np
np.random.seed(0)	
# seed for reproducibility
x1 = np.random.randint(100, size=6)	# One-dimensional array
x2 = np.random.randint(100, size=(3, 4))	# Two-dimensional array
x3 = np.random.randint(100, size=(3, 4, 5))	# Three-dimensional array 
print(x1)
print(x2) 
print(x3)

[44 47 64 67 67  9]
[[83 21 36 87]
 [70 88 88 12]
 [58 65 39 87]]
[[[46 88 81 37 25]
  [77 72  9 20 80]
  [69 79 47 64 82]
  [99 88 49 29 19]]

 [[19 14 39 32 65]
  [ 9 57 32 31 74]
  [23 35 75 55 28]
  [34  0  0 36 53]]

 [[ 5 38 17 79  4]
  [42 58 31  1 65]
  [41 57 35 11 46]
  [82 91  0 14 99]]]

In [16]:
#Write a Pandas program to change the data type of the given meric ['100', '200', 'python', '300.12', '400a']
import pandas as pd
s1 = pd.Series(['100', '200', 'python', '300.12', '400a'])
print("Original Data Series:") 
print(s1)
print("Change the said data type to numeric:") 
s2 = pd.to_numeric(s1, errors='coerce') 
print(s2)

Original Data Series:
0       100
1       200
2    python
3    300.12
4      400a
dtype: object
Change the said data type to numeric:
0    100.00
1    200.00
2       NaN
3    300.12
4       NaN
dtype: float64

In [17]:

#program to sort a given Series.
import pandas as pd
s = pd.Series(['200','100', 'python', '300.12', '400'])
print("Original Data Series:") 
print(s)
new_s = pd.Series(s).sort_values() 
print("sorted series are") 
print(new_s)

Original Data Series:
0       200
1       100
2    python
3    300.12
4       400
dtype: object
sorted series are
1       100
0       200
3    300.12
4       400
2    python
dtype: object

In [18]:
#Write a Pandas program to create a subset of a given series based on value and condition
import pandas as pd
s = pd.Series([0, 1,2,3,4,5,6,7,8,9,10])
print("Original Data Series:") 
print(s)
n = 6
new_s = s[s > n]
print("The values greater than 6") 
print(new_s)
new_s1=s[s%2!=0] 
print("The odd values ") 
print(new_s1)

Original Data Series:
0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
dtype: int64
The values greater than 6
7      7
8      8
9      9
10    10
dtype: int64
The odd values
1    1
3    3
5    5
7    7
9    9
dtype: int64

In [19]:
#Write a program to create the mean and standard deviation, maximum and minimum of the data of a given Series using pandas
import pandas as pd
s = pd.Series(data = [1,2,3,4,5,6,7,8,9,5,3])
print("Original Data Series:") 
print(s)
print("Mean of the said Data Series:") 
print(s.mean())
print("Standard deviation of the said Data Series:") 
print(s.std())
print("Max")
print(s.max())
print("Min")
print(s.min())

Original Data Series:
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9     5
10    3
dtype: int64
Mean of the said Data Series:
4.818181818181818
Standard deviation of the said Data Series:
2.522624895547565
Max
9
Min
1

In [20]:

#Write a program to get the elements of an array values into column-wise using pandas Sample data: {‘X’:[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]}
import pandas as pd
df = pd.DataFrame({'X':[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96, 72,83]});
print(df)

    X   Y   Z
0  78  84  86
1  85  94  97
2  96  89  96
3  80  83  72
4  86  86  83

In [21]:

#The previous program's index has to be removed instead convert into the data frame of the subject marks of X,Y,Z
df = pd.DataFrame({'X':[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,
72,83], 'Subjects':['Kanada','English','Maths','Science','Social']}); 
print(df.set_index('Subjects'))

           X   Y   Z
Subjects
Kanada    78  84  86
English   85  94  97
Maths     96  89  96
Science   80  83  72
Social    86  86  83

In [ ]:
#Write a program to get the columns of the DataFrame phone_data.csv using pandas The following lines have to be added to include CSV file into colab
import io
uploaded = files.upload()
df2 = pd.read_csv(io.BytesIO(uploaded['phone_data.csv']))

In [23]:

#Write a Pandas program to display the first 10 rows of the DataFrame.
import pandas as pd
#Display the first 10 rows result = df2.head(10)
print("First 10 rows of the DataFrame:") 
print()

First 10 rows of the DataFrame: