<a href="https://colab.research.google.com/github/praveenyadav-code/Python-workshop/blob/master/day4_scasestudy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

import pandas library

In [ ]:
import pandas as pd

In [ ]:
other_path = "https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DA0101EN/auto.csv"

In [ ]:
df = pd.read_csv(other_path,header=None)

showing the content of data frame

In [ ]:
print("enter the first 4 rows of dataframe")
df.head(4)

enter the first 4 rows of dataframe

   0    1            2    3    4     5   ...    20   21    22  23  24     25
0   3    ?  alfa-romero  gas  std   two  ...   9.0  111  5000  21  27  13495
1   3    ?  alfa-romero  gas  std   two  ...   9.0  111  5000  21  27  16500
2   1    ?  alfa-romero  gas  std   two  ...   9.0  154  5000  19  26  16500
3   2  164         audi  gas  std  four  ...  10.0  102  5500  24  30  13950

[4 rows x 26 columns]

In [ ]:
df.tail(10
      )

     0    1      2       3      4     5   ...    20   21    22  23  24     25
195  -1   74  volvo     gas    std  four  ...   9.5  114  5400  23  28  13415
196  -2  103  volvo     gas    std  four  ...   9.5  114  5400  24  28  15985
197  -1   74  volvo     gas    std  four  ...   9.5  114  5400  24  28  16515
198  -2  103  volvo     gas  turbo  four  ...   7.5  162  5100  17  22  18420
199  -1   74  volvo     gas  turbo  four  ...   7.5  162  5100  17  22  18950
200  -1   95  volvo     gas    std  four  ...   9.5  114  5400  23  28  16845
201  -1   95  volvo     gas  turbo  four  ...   8.7  160  5300  19  25  19045
202  -1   95  volvo     gas    std  four  ...   8.8  134  5500  18  23  21485
203  -1   95  volvo  diesel  turbo  four  ...  23.0  106  4800  26  27  22470
204  -1   95  volvo     gas  turbo  four  ...   9.5  114  5400  19  25  22625

[10 rows x 26 columns]

# headers

In [ ]:
headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
"drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
"num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
"peak-rpm","city-mpg","highway-mpg","price"]

In [ ]:

df.columns = headers

In [ ]:
df.head(10)

   symboling normalized-losses         make  ... city-mpg highway-mpg  price
0          3                 ?  alfa-romero  ...       21          27  13495
1          3                 ?  alfa-romero  ...       21          27  16500
2          1                 ?  alfa-romero  ...       19          26  16500
3          2               164         audi  ...       24          30  13950
4          2               164         audi  ...       18          22  17450
5          2                 ?         audi  ...       19          25  15250
6          1               158         audi  ...       19          25  17710
7          1                 ?         audi  ...       19          25  18920
8          1               158         audi  ...       17          20  23875
9          0                 ?         audi  ...       16          22      ?

[10 rows x 26 columns]

In [ ]:
df.tail(10)

     symboling normalized-losses   make  ... city-mpg highway-mpg  price
195         -1                74  volvo  ...       23          28  13415
196         -2               103  volvo  ...       24          28  15985
197         -1                74  volvo  ...       24          28  16515
198         -2               103  volvo  ...       17          22  18420
199         -1                74  volvo  ...       17          22  18950
200         -1                95  volvo  ...       23          28  16845
201         -1                95  volvo  ...       19          25  19045
202         -1                95  volvo  ...       18          23  21485
203         -1                95  volvo  ...       26          27  22470
204         -1                95  volvo  ...       19          25  22625

[10 rows x 26 columns]

In [ ]:
df.dropna(subset=["price"],axis=0)

     symboling normalized-losses         make  ... city-mpg highway-mpg  price
0            3                 ?  alfa-romero  ...       21          27  13495
1            3                 ?  alfa-romero  ...       21          27  16500
2            1                 ?  alfa-romero  ...       19          26  16500
3            2               164         audi  ...       24          30  13950
4            2               164         audi  ...       18          22  17450
..         ...               ...          ...  ...      ...         ...    ...
200         -1                95        volvo  ...       23          28  16845
201         -1                95        volvo  ...       19          25  19045
202         -1                95        volvo  ...       18          23  21485
203         -1                95        volvo  ...       26          27  22470
204         -1                95        volvo  ...       19          25  22625

[205 rows x 26 columns]

In [ ]:
df.columns

Index(['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration',
       'num-of-doors', 'body-style', 'drive-wheels', 'engine-location',
       'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type',
       'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke',
       'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg',
       'highway-mpg', 'price'],
      dtype='object')

In [ ]:
df.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

In [ ]:
df.describe()

        symboling  wheel-base  ...    city-mpg  highway-mpg
count  205.000000  205.000000  ...  205.000000   205.000000
mean     0.834146   98.756585  ...   25.219512    30.751220
std      1.245307    6.021776  ...    6.542142     6.886443
min     -2.000000   86.600000  ...   13.000000    16.000000
25%      0.000000   94.500000  ...   19.000000    25.000000
50%      1.000000   97.000000  ...   24.000000    30.000000
75%      2.000000  102.400000  ...   30.000000    34.000000
max      3.000000  120.900000  ...   49.000000    54.000000

[8 rows x 10 columns]

In [ ]:
df.describe(include = "all")

         symboling normalized-losses    make  ...    city-mpg highway-mpg price
count   205.000000               205     205  ...  205.000000  205.000000   205
unique         NaN                52      22  ...         NaN         NaN   187
top            NaN                 ?  toyota  ...         NaN         NaN     ?
freq           NaN                41      32  ...         NaN         NaN     4
mean      0.834146               NaN     NaN  ...   25.219512   30.751220   NaN
std       1.245307               NaN     NaN  ...    6.542142    6.886443   NaN
min      -2.000000               NaN     NaN  ...   13.000000   16.000000   NaN
25%       0.000000               NaN     NaN  ...   19.000000   25.000000   NaN
50%       1.000000               NaN     NaN  ...   24.000000   30.000000   NaN
75%       2.000000               NaN     NaN  ...   30.000000   34.000000   NaN
max       3.000000               NaN     NaN  ...   49.000000   54.000000   NaN

[11 rows x 26 columns]

In [ ]:
df[['length','compression-ratio']].describe()

           length  compression-ratio
count  205.000000         205.000000
mean   174.049268          10.142537
std     12.337289           3.972040
min    141.100000           7.000000
25%    166.300000           8.600000
50%    173.200000           9.000000
75%    183.100000           9.400000
max    208.100000          23.000000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
symboling            205 non-null int64
normalized-losses    205 non-null object
make                 205 non-null object
fuel-type            205 non-null object
aspiration           205 non-null object
num-of-doors         205 non-null object
body-style           205 non-null object
drive-wheels         205 non-null object
engine-location      205 non-null object
wheel-base           205 non-null float64
length               205 non-null float64
width                205 non-null float64
height               205 non-null float64
curb-weight          205 non-null int64
engine-type          205 non-null object
num-of-cylinders     205 non-null object
engine-size          205 non-null int64
fuel-system          205 non-null object
bore                 205 non-null object
stroke               205 non-null object
compression-ratio    205 non-null float64
horsepower           205 non-null object
peak-rpm             205 non-null object
city-mpg             205 non-null int64
highway-mpg          205 non-null int64
price                205 non-null object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

In [ ]:
df.info

<bound method DataFrame.info of      symboling normalized-losses         make  ... city-mpg highway-mpg  price
0            3                 ?  alfa-romero  ...       21          27  13495
1            3                 ?  alfa-romero  ...       21          27  16500
2            1                 ?  alfa-romero  ...       19          26  16500
3            2               164         audi  ...       24          30  13950
4            2               164         audi  ...       18          22  17450
..         ...               ...          ...  ...      ...         ...    ...
200         -1                95        volvo  ...       23          28  16845
201         -1                95        volvo  ...       19          25  19045
202         -1                95        volvo  ...       18          23  21485
203         -1                95        volvo  ...       26          27  22470
204         -1                95        volvo  ...       19          25  22625

[205 rows x 26 columns]>

In [ ]:
import matplotlib.pylab as plt

In [ ]:
import numpy as np

In [ ]:
df.replace("?",np.nan,inplace = True)
df.head(5)

   symboling normalized-losses         make  ... city-mpg highway-mpg  price
0          3               NaN  alfa-romero  ...       21          27  13495
1          3               NaN  alfa-romero  ...       21          27  16500
2          1               NaN  alfa-romero  ...       19          26  16500
3          2               164         audi  ...       24          30  13950
4          2               164         audi  ...       18          22  17450

[5 rows x 26 columns]

In [ ]:

md=df.isnull()

In [ ]:
md

     symboling  normalized-losses   make  ...  city-mpg  highway-mpg  price
0        False               True  False  ...     False        False  False
1        False               True  False  ...     False        False  False
2        False               True  False  ...     False        False  False
3        False              False  False  ...     False        False  False
4        False              False  False  ...     False        False  False
..         ...                ...    ...  ...       ...          ...    ...
200      False              False  False  ...     False        False  False
201      False              False  False  ...     False        False  False
202      False              False  False  ...     False        False  False
203      False              False  False  ...     False        False  False
204      False              False  False  ...     False        False  False

[205 rows x 26 columns]

In [ ]:
df.notnull

<bound method DataFrame.notnull of      symboling normalized-losses         make  ... city-mpg highway-mpg  price
0            3               NaN  alfa-romero  ...       21          27  13495
1            3               NaN  alfa-romero  ...       21          27  16500
2            1               NaN  alfa-romero  ...       19          26  16500
3            2               164         audi  ...       24          30  13950
4            2               164         audi  ...       18          22  17450
..         ...               ...          ...  ...      ...         ...    ...
200         -1                95        volvo  ...       23          28  16845
201         -1                95        volvo  ...       19          25  19045
202         -1                95        volvo  ...       18          23  21485
203         -1                95        volvo  ...       26          27  22470
204         -1                95        volvo  ...       19          25  22625

[205 rows x 26 columns]>

In [ ]:
df.notnull()

     symboling  normalized-losses  make  ...  city-mpg  highway-mpg  price
0         True              False  True  ...      True         True   True
1         True              False  True  ...      True         True   True
2         True              False  True  ...      True         True   True
3         True               True  True  ...      True         True   True
4         True               True  True  ...      True         True   True
..         ...                ...   ...  ...       ...          ...    ...
200       True               True  True  ...      True         True   True
201       True               True  True  ...      True         True   True
202       True               True  True  ...      True         True   True
203       True               True  True  ...      True         True   True
204       True               True  True  ...      True         True   True

[205 rows x 26 columns]

In [ ]:
for column in md.columns.values.tolist():
  print(column)
  print(md[column].value_counts())
  print("")

symboling
False    205
Name: symboling, dtype: int64

normalized-losses
False    164
True      41
Name: normalized-losses, dtype: int64

make
False    205
Name: make, dtype: int64

fuel-type
False    205
Name: fuel-type, dtype: int64

aspiration
False    205
Name: aspiration, dtype: int64

num-of-doors
False    203
True       2
Name: num-of-doors, dtype: int64

body-style
False    205
Name: body-style, dtype: int64

drive-wheels
False    205
Name: drive-wheels, dtype: int64

engine-location
False    205
Name: engine-location, dtype: int64

wheel-base
False    205
Name: wheel-base, dtype: int64

length
False    205
Name: length, dtype: int64

width
False    205
Name: width, dtype: int64

height
False    205
Name: height, dtype: int64

curb-weight
False    205
Name: curb-weight, dtype: int64

engine-type
False    205
Name: engine-type, dtype: int64

num-of-cylinders
False    205
Name: num-of-cylinders, dtype: int64

engine-size
False    205
Name: engine-size, dtype: int64

fuel-system
False    205
Name: fuel-system, dtype: int64

bore
False    201
True       4
Name: bore, dtype: int64

stroke
False    201
True       4
Name: stroke, dtype: int64

compression-ratio
False    205
Name: compression-ratio, dtype: int64

horsepower
False    203
True       2
Name: horsepower, dtype: int64

peak-rpm
False    203
True       2
Name: peak-rpm, dtype: int64

city-mpg
False    205
Name: city-mpg, dtype: int64

highway-mpg
False    205
Name: highway-mpg, dtype: int64

price
False    201
True       4
Name: price, dtype: int64

In [ ]:
avg_norm_loss=df["normalized-losses"].astype("float").mean(axis=0)
print("Average of the normalized-losses:",avg_norm_loss)

Average of the normalized-losses: 122.0

In [ ]:
df["normalized-losses"].replace(np.nan,avg_norm_loss,inplace=True)

In [ ]:
df.head(5)

   symboling normalized-losses         make  ... city-mpg highway-mpg  price
0          3               122  alfa-romero  ...       21          27  13495
1          3               122  alfa-romero  ...       21          27  16500
2          1               122  alfa-romero  ...       19          26  16500
3          2               164         audi  ...       24          30  13950
4          2               164         audi  ...       18          22  17450

[5 rows x 26 columns]

In [ ]:
avg_str=df["stroke"].astype("float").mean(axis=0)
print("average of stroke:",avg_str)

average of stroke: 3.2554228855721337

In [ ]:
df["stroke"].replace(np.nan,avg_str,inplace=True)

In [ ]:
df.head(5)

   symboling normalized-losses         make  ... city-mpg highway-mpg  price
0          3               122  alfa-romero  ...       21          27  13495
1          3               122  alfa-romero  ...       21          27  16500
2          1               122  alfa-romero  ...       19          26  16500
3          2               164         audi  ...       24          30  13950
4          2               164         audi  ...       18          22  17450

[5 rows x 26 columns]

In [ ]:
df["num-of-doors"].value_counts()

four    114
two      89
Name: num-of-doors, dtype: int64

In [ ]:
df["num-of-doors"].value_counts().idxmax()

'four'

In [ ]:
df["num-of-doors"].value_counts().idxmin()

'two'

In [ ]:
df["num-of-doors"].replace(np.nan,"four",inplace=True)

In [ ]:
df.head(5)

   symboling normalized-losses         make  ... city-mpg highway-mpg  price
0          3               122  alfa-romero  ...       21          27  13495
1          3               122  alfa-romero  ...       21          27  16500
2          1               122  alfa-romero  ...       19          26  16500
3          2               164         audi  ...       24          30  13950
4          2               164         audi  ...       18          22  17450

[5 rows x 26 columns]

In [ ]:
# correct data format

In [ ]:
df.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

In [ ]:
df[["bore","stroke","price","peak-rpm"]]=df[["bore","stroke","price","peak-rpm"]].astype("float")

In [ ]:
df["normalized-losses"]=df["normalized-losses"].astype("int")

In [ ]:
df.dtypes

symboling              int64
normalized-losses      int64
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                 float64
stroke               float64
compression-ratio    float64
horsepower            object
peak-rpm             float64
city-mpg               int64
highway-mpg            int64
price                float64
dtype: object

In [ ]:
# convert mpg to L\100km
df["city-L/100km"]=235/df["city-mpg"]

In [ ]:
df.head

<bound method NDFrame.head of      symboling  normalized-losses  ...    price city-L/100km
0            3                122  ...  13495.0    11.190476
1            3                122  ...  16500.0    11.190476
2            1                122  ...  16500.0    12.368421
3            2                164  ...  13950.0     9.791667
4            2                164  ...  17450.0    13.055556
..         ...                ...  ...      ...          ...
200         -1                 95  ...  16845.0    10.217391
201         -1                 95  ...  19045.0    12.368421
202         -1                 95  ...  21485.0    13.055556
203         -1                 95  ...  22470.0     9.038462
204         -1                 95  ...  22625.0    12.368421

[205 rows x 27 columns]>

In [ ]:
df.head()

   symboling  normalized-losses  ...    price city-L/100km
0          3                122  ...  13495.0    11.190476
1          3                122  ...  16500.0    11.190476
2          1                122  ...  16500.0    12.368421
3          2                164  ...  13950.0     9.791667
4          2                164  ...  17450.0    13.055556

[5 rows x 27 columns]

In [ ]:
df["highway-L/100km"]=235/df["highway-mpg"]
df.rename(columns={"highway-mpg":"highway-L/100km"},inplace=True)

In [ ]:
df.head()

   symboling  normalized-losses  ... city-L/100km highway-L/100km
0          3                122  ...    11.190476        8.703704
1          3                122  ...    11.190476        8.703704
2          1                122  ...    12.368421        9.038462
3          2                164  ...     9.791667        7.833333
4          2                164  ...    13.055556       10.681818

[5 rows x 28 columns]

# replace original value by original value/maximum value

In [ ]:
df["length"]=df["length"]/df["length"].max()
df["width"]=df["width"]/df["width"].max()
df["height"]=df["height"]/df["height"].max()

In [ ]:
df.head()

   symboling  normalized-losses  ... city-L/100km highway-L/100km
0          3                122  ...    11.190476        8.703704
1          3                122  ...    11.190476        8.703704
2          1                122  ...    12.368421        9.038462
3          2                164  ...     9.791667        7.833333
4          2                164  ...    13.055556       10.681818

[5 rows x 28 columns]

In [ ]:
df[["drive-wheels","wheel-base"]]

    drive-wheels  wheel-base
0            rwd        88.6
1            rwd        88.6
2            rwd        94.5
3            fwd        99.8
4            4wd        99.4
..           ...         ...
200          rwd       109.1
201          rwd       109.1
202          rwd       109.1
203          rwd       109.1
204          rwd       109.1

[205 rows x 2 columns]

In [ ]:
 df["horsepower"]=df["horsepower"].astype(float, copy=True)

In [ ]:
df.dtypes

symboling              int64
normalized-losses      int64
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                 float64
stroke               float64
compression-ratio    float64
horsepower           float64
peak-rpm             float64
city-mpg               int64
highway-L/100km        int64
price                float64
city-L/100km         float64
highway-L/100km      float64
dtype: object

In [ ]:
bins = np.linspace(min(df["horsepower"]), max(df["horsepower"]), 4)
bins

array([ 48., 128., 208., 288.])

In [ ]:
group_names = ['Low', 'Medium', 'High']

In [ ]:
df['horsepower-binned'] = pd.cut(df['horsepower'], bins, labels=group_names, include_lowest=True )
df[['horsepower','horsepower-binned']].head(20)

    horsepower horsepower-binned
0        111.0               Low
1        111.0               Low
2        154.0            Medium
3        102.0               Low
4        115.0               Low
5        110.0               Low
6        110.0               Low
7        110.0               Low
8        140.0            Medium
9        160.0            Medium
10       101.0               Low
11       101.0               Low
12       121.0               Low
13       121.0               Low
14       121.0               Low
15       182.0            Medium
16       182.0            Medium
17       182.0            Medium
18        48.0               Low
19        70.0               Low

In [ ]:
df["horsepower-binned"].value_counts()

Low       161
Medium     40
High        2
Name: horsepower-binned, dtype: int64

In [ ]:
drive_wheels_counts.rename(columns={'drive-wheels':'values-counts'} inplace=True)

SyntaxError: ignored

In [ ]:
import seaborn as sns

In [ ]:
sns.boxplot(x="drive-wheels",y="price",data=df)

In [ ]:
df_pivot = df.grp_pivot(index= "drive-wheels",columns="body-style")

In [ ]:
sns.regplot(x ="peak-rpm", y="price",data =df)

In [ ]:

engine_loc_counts = df['engine-location'].value_counts().to_frame()
engine_loc_counts.rename(columns={'engine-location': 'value_counts'}, inplace=True)
engine_loc_counts.index.name = 'engine-location'
engine_loc_counts.head(10)

                 value_counts
engine-location
front                     202
rear                        3

HOUSING PRICE PREDICTION